.section .line {
  display: flex;
  align-items: center;
  padding: 0em;
  gap: 1em;
}

.section .line img {
  width: 100px;
  height: 100px;
}

.section .line hr {
  width: 100%;
  height: 2px;
  background-color: var(--ColorText);
}

.section h1 {
  text-align: center;
  margin: 0.5em 0em;
}