.btnRedes {
    display: flex;
    gap: 1em;
}

.btnRedes button {
    background-color: var(--alterBack);
    width: 4.5em;
    height: 4.5em;
    border-radius: 100px;
    border: 0em;
}


.btnRedes button:hover {
    background-color: var(--primary);
}

.btnRedes button img {
    width: 2.5em;
}