.campDados {
    background-color: var(--alterBack);
    display: flex;
    border-radius: 0.75em;
    justify-content: center;
    margin: 1em 15em;
}

.campDados .types {
    background-color: var(--back);
    color: var(--text);
    width: 15em;
    margin: 1em;
    border-radius: 0.375em;
    text-align: center;
}

.campDados .types p {
    margin: 0.25em;
}
