.campCertificados {
    display: flex;
    flex-wrap: wrap;
    margin: 0 3em;
    gap: 1em;
}

.campCertificados .types {
    border: 0.313em solid var(--primary);
    background-color: var(--alterBack);
    border-radius: 0.75em;
    text-align: center;
    display: flex;
    padding: 1em;
    width: 33.1em;
}

.campCertificados .types img {
    width: 10em;
    border-radius: 0.375em;
}

.campCertificados .types p {
    margin: 0em 0.5em;
    width: 18em;
    height: 6em;
}

.campCertificados .types footer p {
    margin: 1em 0.8em;
    position: absolute;
    font-size: 0.8em;
    height: 1.5em;
    width: 28em;
}