.campProjects {
    display: flex;
    flex-wrap: wrap;
    margin: 0 3em;
    gap: 1em;
}

.campProjects .types {
    background-color: var(--alterBack);
    border-radius: 0.75em;
    width: 13.7em;
}

.campProjects .types img {
    border-radius: 0.75em 0.75em 0em 0em;
    width: 100%;
    height: 8em;
    object-fit: fill;
}


.campProjects .types p {
    height: 2.5em;
    margin: 0.5em 1em;
    text-align: center;
    align-content: center;
}

.campProjects .types .inputs {
    display: flex;
    justify-content: center;
}