.line {
  display: flex;
  align-items: center;
  padding: 0em;
  gap: 1em;
}

.line img {
  width: 100px;
  height: 100px;
}

.line hr {
  width: 100%;
  height: 2px;
  background-color: var(--ColorText);
}