.camp-a-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75em;
    margin-bottom: 1.5em;
}

.camp-a-projects .card {
    width: calc(100% / 3 - 2.5em);
    text-align: center;
    background-color: var(--ColorTheme);
    padding-bottom: 0.75em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

.camp-a-projects .card img {
    width: calc(50%);
}

.camp-a-projects .card a {
    color: var(--ColorText);
}