nav {
  top: 0em;
  position: fixed;
  width: 100%;
  background-color: var(--ColorMain);
  padding: 1em 0em;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav h1 {
  font-size: 7vh;
  position: absolute;
  margin-left: 0.9em;
  left: 0em;
}

nav a {
  position: absolute;
  margin-left: 0.9em;
  left: 0em;
  font-size: var(--TextV2);
  font-weight: bold;
  text-decoration: none;
}

nav .icon {
  color: var(--ColorText);
  height: 100%;
  height: 7vh;
}