.camp-stacks {
    justify-content: center;
    background-color: var(--ColorTheme);
    display: flex;
    margin: 2em 0em;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
}

.camp-stacks img {
    width: 5em;
}