nav {
  top: 0em;
  position: fixed;
  width: 100%;
  background-color: var(--ColorMain);
  padding: 1em 0em;
  z-index: 3;
  display: flex;
  justify-content: center;
}

nav h1 {
  position: absolute;
  margin-left: 0.9em;
  left: 0em;
}

nav a {
  position: absolute;
  text-decoration: none;
  margin-left: 0.9em;
  left: 0em;
  font-size: var(--TextH1);
  color: var(--ColorText);
  font-family: "Padauk";
  font-weight: bold;
}

nav .icon {
  color: var(--ColorText);
  height: 100%;
  height: 3.25em;
}

#main.intro {
  width: 100%;
  height: calc(100dvh - 5.75em);
  margin-top: 5.25em;
  display: flex;
  justify-content: space-evenly;
}

.img_photo {
  width: 25em;
  height: auto;
}

.img_photo .vec_photo {
  width: 100%;
  height: 100%;
  color: var(--ColorPrimaria)
}

footer {
  text-align: center;
  border-top: 2px solid var(--ColorText);
  background-color: var(--ColorTheme);
  padding: 1em 0em;
}