#main.intro {
  width: 100%;
  height: calc(100dvh - 5vh);
  display: flex;
  justify-content: space-evenly;
}

.img_photo {
  width: 50vh;
  height: auto;
}

.img_photo .vec_photo {
  width: 100%;
  height: 100%;
  color: var(--ColorPrimaria)
}

.text_home h1 {
  font-size: 7.5vh;
  line-height: 0.75em;
  font-family: "Padauk";
}

footer {
  text-align: center;
  border-top: 2px solid var(--ColorText);
  background-color: var(--ColorTheme);
  padding: 1em 0em;
}