@font-face {
    font-family: "Padauk";
    src: url("./assets/Padauk-Regular.ttf") format("truetype");
}

:root {
    --TextV1: 3.75em;
    --TextV2: 2.25em;
    --TextV3: 1.5em;
    --TextV4: 0.75em;
}

.light {
    --ColorMain: #99C5FF;
    --ColorMainAlter: #DAF9F4;
    --ColorTheme: #F8F9FA;
    --ColorThemeAlter: #CED4DA;
    --ColorText: #000000;
    --ColorPrimaria: #ff00ff;
}

.dark {
    --ColorMain: #3B31A2;
    --ColorMainAlter: #031959;
    --ColorTheme: #1A1D20;
    --ColorThemeAlter: #2B3035;
    --ColorText: #ffffff;
    --ColorPrimaria: #00ff00;
}

body {
    background-color: var(--ColorMainAlter);
    margin: 0em;
}

span,
h1,
h3,
p,
a {
    color: var(--ColorText);
    margin: 0em;
    font-family: "Padauk";
}

.textAlter {
    color: var(--ColorPrimaria);
}

h1 {
    font-size: var(--TextV2);
}

h3 {
    font-size: var(--TextV3);
}

p,
label,
a {
    font-size: var(--TextV4);
}

input,
textarea {
    font-size: calc(var(--TextV4) + 0.25em);
}