@font-face {
    font-family: "Padauk";
    src: url("./assets/Padauk-Regular.ttf") format("truetype");
}

:root {
    --TextSpan: 3.75em;
    --TextH1: 2.25em;
    --TextH3: 1.5em;
    --TextP: 0.75em;
}

.light {
    --ColorMain: #99C5FF;
    --ColorMainAlter: #DAF9F4;
    --ColorTheme: #F8F9FA;
    --ColorThemeAlter: #CED4DA;
    --ColorText: #000000;
    --ColorPrimaria: #ff00ff;
}

.dark {
    --ColorMain: #3B31A2;
    --ColorMainAlter: #031959;
    --ColorTheme: #1A1D20;
    --ColorThemeAlter: #2B3035;
    --ColorText: #ffffff;
    --ColorPrimaria: #00ff00;
}

body {
    background-color: var(--ColorMainAlter);
    margin: 0em;
    font-family: "Padauk";
}

span,
h1,
h3,
p {
    color: var(--ColorText);
    margin: 0em;
}

.textAlter {
    color: var(--ColorPrimaria);
}

span {
    font-size: var(--TextSpan);
    line-height: 1em;
}

h1 {
    font-size: var(--TextH1);
}

h3 {
    font-size: var(--TextH3);
}

p,
label {
    font-size: var(--TextP);
}

input,
textarea {
    font-size: calc(var(--TextP) + 0.25em);
}