.project {
    background-color: var(--ColorTheme);
    width: 100%;
    padding-bottom: 1.5em;
}

.project .intro {
    padding: 1.5em 1.5em 0.75em 1.5em;
    background-color: var(--ColorThemeAlter);
}

.project .intro img {
    width: 7em;
    height: 7em;
    position: absolute;
}

.project .intro .text {
    margin-left: 8em;
    margin-top: 1em;
}

.project .info {
    display: flex;
    padding: 1em 1.5em 1.5em 1.5em;
    gap: 1.5em;
}

.project .info .column {
    width: 50%;
}

.project .info img.img_project {
    width: 100%;
}

.project .versions {
    background-color: var(--ColorThemeAlter);
    border: 2px solid var(--ColorText);
    width: calc(50% - 4.3em);
    height: 50px;
    margin-left: 1.5em;
    padding: 1em;
}

.project h3 {
    margin-top: 0.5em;
}

.project p {
    text-align: justify;
}